.comment_box {
  background-color: white;
  border-color: inherit;
  border-radius: 5px;
  margin: 20px auto 0px;
  padding: 1% 3% 3%;
  font-weight: 500;
  width: 80%;
}

/* Body */

.comment_text {
  color: hsl(211, 10%, 45%);
  margin-top: 0px;
  font-size: 15px;
}

.reply_tag {
  color: hsl(238, 40%, 52%);
  font-weight: 700;
  font-size: 15px;
}

@media (min-width: 376px) {
  body {
    background-color: hsl(211, 10%, 45%);
  }

  .comment_box {
    width: 50%;
    padding: 2%;
    position: relative;
    padding: 1%;
    padding-left: 80px;
    min-height: 120px;
  }

  .last_posted {
    font-size: 12px;
  }

  .comment_text {
    width: 98%;
  }
}
